.title {
  font-family: "PlayfairDisplay", "Times New Roman", serif;
  font-size: 52px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: $dark-blue;
  text-align: center;
  margin: 0;
  padding-top: 4px;
  cursor: default;
}
